main {
    margin-top: 4rem;
}

header nav.pages ul li a:link {
    color: #00ffb7;
}

header nav.pages ul li a:visited {
    color: #ff6600;
}
h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.table-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.table-wrapper table {
    border-collapse: collapse;
    box-shadow: 0px 0px 25px rgba(198, 130, 253, 0.5);
}
#backend, #frontend, #experience {
  word-break: normal;
}

.table-wrapper table tbody td[headers="level"]  {
    word-break: normal;
}

.table-wrapper table th,
.table-wrapper table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.table-wrapper table td[headers="experience"] {
    text-align: right;
}

.table-wrapper table thead tr {
    background: linear-gradient(to right, #7F00FF,#E100FF);
}

.table-wrapper table tbody tr > td {
    background: linear-gradient(to right, #7f00ff73, #e100ff7d);
    color: #fdecff;
}
.table-wrapper table tbody tr th {
    background: #7f00ff73;
}

.table-wrapper table tbody tr:hover {
    opacity: 0.9;
}

.table-wrapper caption {
    caption-side: bottom;
    margin: 0.5rem 0;
    font-size: 12px;
}
.table-wrapper h2 {
    text-align: center;
}

.table-container {
    display: grid;
    place-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
    width: 75%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .first-table {
        grid-column: col / span 2;
        grid-row: row ;
    }
    .second-table {
        grid-column: col 3 / span 2;
        grid-row: row ;
    }
    .third-table {
        grid-column: col / span 4;
        grid-row: row 2;
    }
}

@media screen and (max-width: 767px) {
    .table-container {
        gap: initial;
        width: 100%;
    }
    .table-container .table-wrapper table {
        font-size: 0.4rem;
        word-break: break-all;
        width: 100%;
    }

    #backend, #frontend, #experience {
        word-break: normal;
    }

    .table-wrapper table tbody td[headers="level"]  {
        word-break: normal;
    }
    #skill-speciality-table tr td:last-child{
        word-break: normal;
    }

    .table-wrapper table th,
    .table-wrapper table td {
        padding: 12px 5px;
        font-size: 0.8rem;
    }
    .first-table {
        grid-column: col / span 2;
        grid-row: row 1;
        display: flex;
        flex-direction: column;
    }
    .second-table {
        grid-column: col / span 2;
        grid-row: row 2;
        display: flex;
        flex-direction: column;
    }
    .third-table {
        grid-column: col / span 2;
        grid-row: row 3;
    }
}
